.headline {
    font: 300 1.8rem/1.8rem $headlines_font;
    color: $blue_1;
    text-shadow: 1px 1px 0 rgba($black, .7), 2px 2px 0 rgba($black, .35), 4px 4px 0 rgba($black, .15);
    font-style: italic;
}