$black: #000;
$white: #fff;

$red: #C50307;
$red_1: #CA0604;

$blue: #1B74BF;
$blue_1: #1874BD;

$screen: #A7AF7C;
$solar_panel_color: #22217f;
/* light theme */
$light_1: #E7E7E7;
$light_2: #CDCDCD;
$light_body_bg: #f7f2fd linear-gradient(to top, #30cfd0 0%, #f7f2fd 100%);

/* dark theme */
$dark: #282828;
$dark_1: #202020;
// $dark_body_bg: $black linear-gradient(147deg, $black 0%, #434343 74%);
$dark_body_bg: #1e3c72 linear-gradient(65deg, #1e3c72 0%, #2a5298 74%);

// $dark: $color_1;
// $dark_1: $color_2;